<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <ul>
         <li>id :  <%= home.id %></li>
         <li>name :  <%= home.name %></li>
         <li>location :  <%= home.location %></li>
         <li>description :  <%= home.description %></li>
         <li>area :  <%= home.area %></li>
         <li>price :  <%= home.price %></li>
       </ul>
</body>
</html>